.technologies-list,
.experience-list,
.certifications-list {
  padding: 0 0 0 24px;
}

.technologies {
  margin-bottom: 16px;
}

.technologies img {
  height: 24px;
  width: 24px;
}

.technologies-list {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 16px;
  column-gap: 32px;
  list-style-type: none;
}

.technologies-list li {
  display: flex;
  gap: 8px;
  align-items: center;
}

.experience {
  margin-bottom: 16px;
}

.experience-list {
  list-style-type: none;
}

.experience-list li:not(:last-child) {
  margin-bottom: 16px;
}

.experience-list h4 {
  margin: 0 0 4px 0;
}

.earthsoft-experience-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.earthsoft-experience-list li:not(:last-child) {
  margin-bottom: 8px;
}

.certifications-list {
  list-style-type: none;
}

.certifications-list li:not(:last-child) {
  margin-bottom: 16px;
}

.certifications-list h4 {
  margin: 0 0 4px 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .technologies-list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 32px;
  }
}
