.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.project-card {
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr auto; */
  background-color: rgba(26, 101, 143, 0.6);
  color: white;

  padding: 24px;

  border-radius: 10px;
}

.project-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.project-card-header i {
  color: white;
}

.project-card-header-links {
  display: flex;
  gap: 12px;
}

.project-card-header-links a:visited {
  color: initial;
}

.project-card-title {
  margin-top: 16px;
  margin-bottom: 16px;
}

.project-card-description {
  margin-top: 0;
  margin-bottom: 16px;
}

.project-card-logos {
  align-self: flex-end;
  display: flex;
  gap: 12px;
}

.project-card-logos img {
  height: 24px;
  width: 24px;
}
